<div class="sidebar">
    <ul class="side-nav">
        <li>
            <a routerLink="/home">
                Accueil
            </a>
        </li>
        <li>
            <a routerLink="/cours">
                Mes cours
            </a>
        </li>
        <li>
            <a routerLink="/travaux">
                Mes travaux
            </a>
        </li>
        <li>
            <a routerLink="/resultats">
                Mes résultats
            </a>
        </li>
        <li>
            <a routerLink="/profil">
                Mon profil
            </a>
        </li>
    </ul>
</div>

