$white: #f8f9fa;

$blue: #8188B7;
$lightblue: #A4AACD;
$lightestblue: #C7CAE1;
$darkblue: #616AA2;
$darkestblue: #46508E;

$base-orange: #f7e8d7;
$orange: #FFD6A8;
$lightorange: #FFE3C4;
$lightestorange: #FFEFDD;
$darkorange: #ECB980;
$darkestorange: #CF9656;

$yellow: #FFE6A8;
$lightyellow: #FFEEC4;
$lightestyellow: #FFF5DD;
$darkyellow: #ECCE80;
$darkestyellow: #CFAD56;

$pink: #FFB9A8;
$lightpink: #FFCFC4;
$lightestpink: #FFE3DD;
$darkpink: #EC9580;
$darkestpink: #CF6D56;
