/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "colors";

body {
  margin: 0;
  background-color: $white;

}

a {
  text-decoration: none;
  color: $darkblue;

  &:hover {
    color: $blue;
  }
}

.h-divider-light {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 80%;
  border-top: 1px solid $primary;
}


.h-divider-dark {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 80%;
  border-top: 1px solid $primary;
}
