/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";


body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark;
}

.h-divider-light {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 80%;
  border-top: 1px solid $primary;
}


.h-divider-dark {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 80%;
  border-top: 1px solid $primary;
}

.container-restraint, .content {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}
