.bgc {
  background-color: #03818d;
}

.aside-img {
  margin: 5px;
}

.title {
  color: white;
  margin: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
