<!-- ---------- NAVBAR ---------- -->
<app-sgbd-navbar></app-sgbd-navbar>
<!-- ---------- END NAVBAR ---------- -->

<div class="container-fluid">
    <div class="row">
        <!-- ---------- SIDENAV ---------- -->
        <app-sgbd-sidenav class="col-2 p-0"></app-sgbd-sidenav>
        <!-- ---------- END SIDENAV ---------- -->
        <!-- ---------- CONTENT ---------- -->
        <div class="col-10 content p-5">
            <div class="row m-0 justify-content-around">
                <div class="col-12" *ngFor="let inscription of user?.inscriptionList">
                    <ng-container [ngTemplateOutlet]="courTemplate"
                                  [ngTemplateOutletContext]="{inscription:inscription}"></ng-container>

                </div>
            </div>

            <div class="row m-0 justify-content-around">
                <div class="col">
                    <div class="row">
                        <h2>M'inscrire à un cours ({{allCours.length}} disponibles) </h2>
                    </div>
                    <div class="row">
                        <div class="col-12" *ngFor="let cour of allCours">
                            <ng-container [ngTemplateOutlet]="allCoursTemplate"
                                          [ngTemplateOutletContext]="{cour:cour}"></ng-container>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ---------- END CONTENT ---------- -->
    </div>
</div>

<!-- ---------- COURS TEMPLATE ---------- -->
<ng-template #courTemplate let-inscription="inscription">
    <div class="card m-2 list-item">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title"><a
                        routerLink="/cours/{{inscription.classe.uuid}}">{{inscription.classe.name}}</a></h5>
                <div class="d-flex flex-column align-items-end">
                    <h6 class="card-subtitle mb-2 text-muted">{{inscription.classe.id}}</h6>
                    <h6 class="card-subtitle mb-2">
                        <a
                                routerLink="/cours/teacher/{{inscription.classe?.teacher?.id}}">
                            {{inscription.classe?.teacher?.firstname}} {{inscription.classe?.teacher?.lastname}}
                        </a>
                    </h6>
                </div>
            </div>
            <div>
                <h6><a routerLink="/resultats/{{inscription.classe.uuid}}"
                       (click)="onResultsClicked(inscription.classe.uuid)">Resultats</a>
                </h6>
            </div>
            <ng-container *ngIf="inscription.role.roleType === 'TEACHER'">
                <div>
                    <p><a
                           (click)="onEncodeResultsClicked(inscription.classe.uuid)">Encoder des résultats</a>
                    </p>
                    <p><a
                          (click)="onPlanTestClicked(inscription.classe.uuid)">Planifier une interro</a>
                    </p>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>
<!-- ---------- END COURS TEMPLATE ---------- -->

<!-- ---------- All COurs TEMPLATE ---------- -->
<ng-template #allCoursTemplate let-cour="cour">
    <div class="card m-2 list-item">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title"><a routerLink="/cours/{{cour.uuid}}">{{cour.name}}</a></h5>
                <div class="d-flex flex-column align-items-end">
                    <h6 class="card-subtitle mb-2 text-muted">{{cour.id}}</h6>
                    <h6 class="card-subtitle mb-2"><a
                            routerLink="/cours/teacher/{{cour?.teacher?.id}}">{{cour?.teacher?.firstname}} {{cour?.teacher?.lastname}}</a>
                    </h6>
                </div>
            </div>
            <div>
                <h6><a (click)="onRegisterClassClicked(cour.uuid)">M'inscrire</a>
                </h6>
            </div>
        </div>
    </div>
</ng-template>
<!-- ---------- END All COurs TEMPLATE ---------- -->
